[submodule "api/raapi"]
	path = api/raapi
	url = https://github.com/LBD-Hackers/raapi.git
	branch = paper
[submodule "api/daapi"]
	path = api/daapi
	url = https://github.com/LBD-Hackers/daapi.git
	branch = paper
[submodule "consolid-demo"]
	path = consolid-demo
	url = https://github.com/LBD-Hackers/consolid-demo.git
	branch = paper
[submodule "vocabulary"]
	path = vocabulary
	url = https://github.com/ConSolidProject/vocabulary.git
	branch = paper
[submodule "auth-satellite"]
	path = auth-satellite
	url = https://github.com/ConSolidProject/auth-satellite.git
	branch = paper
[submodule "SolidCommunity_Fuseki"]
	path = SolidCommunity_Fuseki
	url = https://github.com/LBD-Hackers/SolidCommunity_Fuseki.git
	branch = paper